.footer-container {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.social-media-icons {
  font-size: 24px;
}

.social-media-icons a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  font-size: 14px;
  margin-right: 20px;
}

.footer-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
