/* YourComponent.css */
.scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #fff; /* Set your preferred background color */
  border: 1px solid #ccc; /* Set your preferred border style */
  padding: 10px;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.scroll.visible {
  display: block;
}

.vector-icon5 {
  width: 20px; /* Set your preferred width */
  height: 20px; /* Set your preferred height */
}
