.scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.scroll.visible {
  display: block;
}

.vector-icon5 {
  width: 20px;
  height: 20px;
}
